doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    script(type="text/javascript", src="js/vendor/angular.min.js")
  body(ng-app="SuggestionBox", ng-controller="HomeController")
    block content